.inner {
  position: relative;
  margin-top: 10px;
  padding: 16px 20px 16px;
  background-color: #fff;
}

.photoBtn {
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 1;
}

.content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 40px;
}

.visibleBtn {
  margin-top: 1px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.3;
  background: none;
}

.additionalBtns {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previewBlock,
.formBtnInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additionalBtn {
  margin-left: 7px;

  &:first-child {
    margin-left: 0;
  }
}

.form {
  padding-left: 15px;
  height: auto;
}
