.form {
    padding: 15px 15px 40px;
    background: #111436;
    border-radius: 10px;
    position: relative;
}

.form textarea {
    width: 99%;
    height: 50px;
    margin: 10px;
    resize: none;
    border: none;
    border-bottom: 1px solid #00d7b2;
    background-color: transparent;
}
.form textarea,
.form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.form textarea:focus {
    outline: none;
}
.btn {
    position: absolute;
    top: 68%;
    right: 4%;
}