.inner {
  padding: 16px 20px;
  margin-right: 24px;
  background-color: #fff;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.btnInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.formBtn {
  width: 150px;
  height: 35px;
  font-size: 16px;
  font-weight: 400;
}
