.inner {
  padding: 16px 20px;
  margin-right: 24px;
  background-color: #fff;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.btnInner {
  display: flex;
  justify-content: center;
}

.formBtn {
  width: 250px;
  font-size: 14px;
  font-weight: 400;
}
