.profile {
    border-radius: 15px;
    background-color: #212437;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.inner {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 10px;
}
.avatar {
    width: 200px;
    height: 200px;
}

.item {

}
.name {
    font-size: 20px;
    font-weight: 400;
}
.status {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #383d5c;
}
.contacts {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 10px;
}
.contactsItem {
    width: 100%;
}
.link {
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}
.link:hover {
    color: #00d7b2;
}


.editMode a:hover {
    color: #00d7b2;;
}