.formControl,
.radioWrapper,
.checkbox,
.date {
  display: flex;
  justify-content: start;
  align-items: center;
}
input {
  font-size: 16px;
  font-weight: 400;
}

.inputWrapper input {
  width: 300px;
  height: 30px;
}
.inputWrapper.error input {
  border: 2px solid red;
}

.innerError {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  color: red;
}

.textError {
  margin-left: 10px;
}
.radioWrapper,
.checkbox {
  padding-top: 5px;
}
.radioBtnValue {
  margin-right: 10px;
}

.radioBtnValue input {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.checkbox input {
  width: 17px;
  height: 17px;
}

.date input {
  width: 200px;
  height: 30px;
}
