.users {
  padding: 16px 20px;
  background-color: #fff;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.actionBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
.actionBtn {
  width: 55%;
}
