.inner {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: 
    "c n";
    
}
.content {
    grid-area: c;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-gap: 10px;
    grid-template-areas: 
    "cc ne";
    border-radius: 15px;
    background-color: #212437;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  .contentInner {
    grid-area: cc;
    
  }