.avatar {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .nickName {
    display: flex;
    align-items: center;
  }
  .login {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-right: 10px;
  }