.list {
  max-width: 740px;
}

.listItem {
  margin-bottom: 10px;
  padding: 16px 20px;
  background-color: #fff;
}

.dialogName {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: #000;
}

.data {
  position: relative;
  top: -25px;
  right: 0;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.3;
}

.messageAvatar {
  width: 70px;
  height: 70px;
  margin: 0;
}

.lastMessage {
  padding: 0;
}