.inner {
  margin: 10px 0;
  padding: 16px 20px 16px;
  background-color: #fff;
}

.formBtnInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  margin-top: 5px;
  height: auto;
}
