.inner {
  max-width: 80%;
  padding: 16px 20px 0;
  background-color: #fff;
}

.footer {
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.message {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.messageText {
  position: relative;
  top: 5px;
  left: -5px;
  z-index: 2;
}

.content {
  height: 75vh;
  overflow-x: hidden;
}