.header {
    grid-area: h;
    background-color: yellow;
  }
  .header img {
    width: 50px;
    
  }

  .login_block {
      float: right;
      margin-right: 50px;
  }

  .login_block a {
    text-decoration: none;
    color: rgba(16, 56, 38, 0.856);
  }