.wrapper {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btnItem {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.countFriend {
  position: relative;
  top: 1px;
  margin-left: 5px;
  opacity: 0.3;
}

.friendsList {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(2, 70px);
  grid-gap: 5px;
}

.friendsListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.friendName {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.friendAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ccc;
}
