.nav {
grid-area: n;
padding: 20px;
border-radius: 15px;

}

.item a {
text-decoration: none;
color: #fff;
transition: color .2s linear;
}
.item a:hover{
    color: #00d7b2;
}
  .item a.active {
      color: #00d7b2;
}