.nav {
grid-area: n;
border-radius: 15px;

}
.item {
    margin-bottom: 15px;
    position: relative;
}
.item a {
    margin-left: 45px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}
.item i {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
}
.item a:hover{
    color: #00d7b2;
}
.item a.active {
    color: #00d7b2;
}

.wrapper {
    margin-top: 15px;
    padding: 15px;
    background:  #111436;
    border-radius: 10px;
}