
.visibleBtn {
  margin-top: 1px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.3;
  background: none;
}

.previewBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 16px 20px 16px;
  background-color: #fff;
}
