.profileInfo {
  padding: 15px 25px;
  background-color: #fff;
}

.profileName {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}

.description {
  padding: 15px 0;
  margin: 0;
  border-top: 1px solid rgba(#000, .1);
  border-bottom: 1px solid rgba(#000, .1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.headerItem {
  &:last-child {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.4;
  }
}

.descriptionItem {
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.descriptionLabel {
  font-weight: 500;
  width: 30%;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 0;
}

.aboutItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}
.aboutCount {
  font-size: 28px;
  line-height: 20px;
  font-weight: 500;
  opacity: .8;
}
.aboutName {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  opacity: .3;
}
