.profileInfo {
  padding: 15px 20px;
  background-color: #fff;
}

.profileName {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.description {
  padding: 15px 0;
  border-top: 1px solid #ccc;
}

.headerItem {
  padding-bottom: 15px;
  &--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
