

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
.formTitle {
  margin-right: 100px;
}

.formInner {
  padding: 30px;
  background-color: #3e4366;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}