.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
}
.login_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.login_title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.login_logo {
  width: 200px;
  height: 200px;
}
.login_form_inner {
  width: 85%;
}
.captcha {
  width: 150px;
  height: 50px;
}

.login_btn,
.rememberMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
