.dialogs {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-areas: "c n";
}
.inner {
  grid-area: c;
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  background: #111436;
}
.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.avatar img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.link {
  text-decoration: none;
  color: #fff;
}
.avatar a.active {
  color: #00d7b2;
}
