.list {
    max-width: 740px;
}

.listItem {
    margin-bottom: 10px;
    padding: 16px 20px;
    background-color: #fff;
}

.dialogName {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    opacity: .8;
    color: #000;
}

.lastMessege {
    margin-left: 25px;

}

.message {
    margin-left: 10px;
}

.data {
    position: relative;
    top: -25px;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    opacity: .3;
}